*{
    font-family: 'Manrope', sans-serif;
    font-family: 'Mountains of Christmas', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Roboto', sans-serif;
}

:root{
    --main-color: #0b0b0b; 
}